<header class="topbar">
          <div class="topbar-left">
            <button class="topbar-btn sidebar-toggler">☰</button>
            <a class="topbar-btn" href="#" title="" data-provide="tooltip" data-placement="bottom" data-original-title="Previous page"><i class="ti-arrow-left"></i></a>
            <div class="topbar-divider"></div>
            <a class="topbar-btn fs-16" href="#" title="" data-provide="fullscreen tooltip" data-placement="bottom" data-original-title="Toggle fullscreen">
              <i class="ion-android-expand fullscreen-default"></i>
              <i class="ion-android-contract fullscreen-active"></i>
            </a>
          </div>

          <div class="topbar-right">
            <div>
              <a class="btn btn-sm btn-primary" href="#">Login</a>
              <a class="btn btn-sm btn-outline btn-primary" href="#">Register</a>
            </div>
          </div>
        </header>