<header class="topbar">
          <div class="topbar-left">
            <img src="https://cdn1.iconfinder.com/data/icons/timber-industry-1/512/g30784-512.png" style="width:70px;height:auto"><span>wooden</span>
          </div>

          <div class="topbar-right">
            <div>
              <a class="btn btn-sm btn-primary" routerLink="/login">Login</a>
              <a class="btn btn-sm btn-outline btn-primary ml-10" href="#">Register</a>
            </div>
          </div>
        </header>